<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
  </head>
  <body>
    <div class="container">
    <h1>검색 결과</h1>
    <p>인크루트,고용24,잡코리아 검색한 결과입니다.</p>
 
    <a href="/file?keyword={{ keyword }}">
      <button>CSV 다운로드</button>
    </a>
       
    <br><br>
    
    <table class="striped">
      <thead data-theme="light">
        <tr>
          <th>No</th>
          <th>회사</th>
          <th>공고제목</th>
          <th>지역</th>
          <th>경력</th>
        </tr>
      </thead>
      <tbody>
        {% for i, job in jobs %}
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ job['company'] }}</td>
          <td><a href="{{ job['link'] }}" target="_blank">{{ job['title'] }}</a></td>
          <td>{{ job['location'] }}</td>
          <td>{{ job['career'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="container">
      <button onclick="location.href = '/'">홈으로</button>
    </div>
  </body>
</html>
